.heading-testimonials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.heading-testimonials h1 {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 2px solid;
  border-image: linear-gradient(90deg, #ffffff 1%, #862d86 100%);
  border-image-slice: 1;
}
.main-testimonial {
  width: 95%;
  margin: 2rem 1.2rem 0.8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
